

* {
    --siamois-green-light: #A6CBA6;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #FFFFFF;
    transition: width 0.3s;
    border-right: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-link {
    color: #2A2C30;
    display: flex;
    align-items: center;
    transition: background 0.3s, border-radius 0.3s, padding 0.3s;
    border-radius: 8px;
    margin: 2px 8px;
    width: auto;
}

.sidebar .nav-link:hover, .logout-button {
    background: var(--siamois-green-light-50);
    border-radius: 10px;
    border-color: var(--siamois-green-light-50);
}

.sidebar .nav-link i {
    font-size: 1.4rem;
    color: var(--siamois-green-light);
    margin-right: 8px;
}

.sidebar .menu-text {
    transition: opacity 0.3s;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .menu-text {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
    padding: 8px;
    margin: 2px auto;
    width: 38px;
    display: flex;
    align-items: center;
}

.sidebar.collapsed .nav-link:hover {
    background: #F3F7F3;
    border-radius: 10px;
    padding: 8px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-btn {
    width: 100%;
    margin-top: 10px;
    color: #2A2C30;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    text-align: left;
    transition: color 0.3s;
}

.collapsed #toggle-btn {
    text-align: center;
}

#toggle-btn:hover {
    color: #000000;
}

.content {
    transition: margin-left 0.3s;
    width: 100%;
    min-height: 100vh;
    background-color: #F9FBF9;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    overflow-x: auto;
}

@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    max-width: 280px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
  }

  .sidebar.open {
    transform: translateX(0);
  }

    .hide-small-screen {
      display: none;
    }

}

@media (min-width: 768px) {
  .show-small-screen {
    display: none;
  }
}

form#logout-form:hover {
    cursor: pointer;
}

hr {
    background-color: var(--siamois-green-light);
}

hr.sidebar-divider {
    margin: 16px 0;
    color: var(--siamois-green-light-350);
    width: 80%;
}

.sidebar-footer {
    margin-top: auto;
    justify-items: center;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.sidebar.collapsed .logo {
    max-width: 50px;
}

.nav-header {
    font-weight: 400;
    margin-top: 8px;
    letter-spacing: 1px;
    margin-left: 13px;
    color: var(--text-light);
    display: block;
}

.sidebar.collapsed .nav-header {
    display: none;
}

.logout-button {
    background-color: white !important;
    border-color: white !important;
}

.logout-button:hover {
    background-color: var(--siamois-green-light-50) !important;
    border-color: var(--siamois-green-light-50) !important;
}

.logout-button .ui-button-text {
    color: black;
}

.logout-button span.ui-icon {
    color: var(--siamois-green-light);
}

.sidebar.collapsed .logout-button .ui-button-text {
    display: none;
}

.version-number {
    text-align: center;
    font-size: 14;
    color: var(--text-light);
}